:root {
    --one: 0;
    --two: 0;
    --three: 0;
    --four: 0;
    --five: 0;
    --six: 0;
    --seven: 0;
    --eight: 0;
    --nine: 0;
    --ten: 0;
    --eleven: 0;
    --twelve: 0;
}

.graph {
    width: 100%;
    height: 10px;
    background-color: gray;
    margin: 5px;
}

